.canvases {
    position:relative;
}

.cam-navigator {
    display:inline-block;
    position:absolute;
    margin:auto;
    padding:0px;
    margin-bottom:10px;
    left: 10px;
    overflow:hidden;
}

.game-container {
    display:inline-block;
}

.cam-navigator  #command {
    position: absolute;
    top: 39px;
    left:30px;
    font-size: 70px;
    color: #ff000038;
    border:none;
    background:none;
}

#facetract {
    outline: black solid 1px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
}

.cam-navigator,
.cam-navigator video,
.cam-navigator canvas {
    width:340px !important;
    height:170px !important;
    padding:0px;
}

.cam-navigator video {
    opacity:.1;
    object-fit:cover;
}

.cam-navigator video,
.cam-navigator canvas {
    position:absolute;
    top:0px;
    left:0px;
}

#realtime-video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}